// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: Lato;
  src: url("../assets/fonts/lato.woff2");
}

* {
  font-family: Lato;
}

.activeHighlight {
  background-color: map-get($colors, dark) !important;
}

.no-rotate {
  transform: rotate(0deg) !important;
}

.circled-icon {
  &.activated {
    background: none !important;
    .img-container {
      background: map_get($colors, secondary) !important;
    }
  }
  .img-container {
    background: map_get($colors, primary);
    height: 100px;
    width: 100px;
    border-radius: 60%;
    margin: 0 auto;
  }

  img {
    position: relative;
    top: 32px;
    height: 35px;
    right: 1px;
  }
}

.title-border-bottom {
  border-bottom: 3px solid map_get($colors, primary) !important;
  font-weight: bold;
  text-transform: uppercase;
  &.list-header-md {
    border-top: none;
  }
}

.title-border-bottom-infox {
  border-bottom: 3px solid map_get($colors, infox) !important;
  font-weight: bold;
  &.list-header-md {
    border-top: none;
  }
}

.dark-menu {
  .menu-logo-img {
    text-align: center;
    img {
      width: 100px;
      border-radius: 35px;
    }

  }
  .activated {
    background: map_get($colors, dark) !important;
  }
  ion-content, button, ion-toolbar, .toolbar-background-md, .toolbar-background-ios, .toolbar-title {
    font-size: 15px;
    background: map_get($colors, menu-dark);
    color: map_get($colors, light);
    font-weight: bold;
    border: none !important;
    .item-inner {
      border: none !important;
      margin-bottom: 10px;
    }
    .menu-item {
      height: 50px;
      line-height: 0;
      ion-icon {
        top: 14px;
        position: absolute;
      }
      .menu-item-border {
        border-bottom: 3px solid map_get($colors, primary) !important;
        position: absolute;
        padding-bottom: 15px;
        margin-left: 23px;
      }
    }
  }

  .toolbar-background-md, .toolbar-background-ios {
    border-bottom: 1px solid #7b7b7b !important
  }
}

.invalid {
  border: 1px solid transparent !important;
  border-bottom: 2px solid map_get($colors, danger) !important;
}

.valid {
  border: 1px solid transparent !important;
  border-bottom: 2px solid map_get($colors, secondary) !important;
}

.error-message {
  font-size: 0.8em;
  color: map_get($colors, danger) !important;
}

.optional-input-label {
  color: map_get($colors, secondary);
  font-size: small;
}

.no-overflow {
  overflow: initial;
}

.color-danger {
  .button-inner {
    color: map_get($colors, danger);
  }
}

.color-primary-light {
  .button-inner {
    color: map_get($colors, primary-light);
  }
}

.bold {
  .button-inner {
    font-weight: bold;
  }
}

.loading-rotating-image, .loading-rotating-image-background {
  position: absolute;
  margin: -29px -40px;
  animation: rotate linear 2s infinite;
  //background: white;
  //border-radius: 10px;
}

.loading-text {
  img {
    max-width: 30% !important;
    margin: 0 22% !important;
    border: transparent !important;
  }
  p {
    bottom: -90px;
    position: relative;
    border-radius: 5px;
    padding: -14px 6px 6px;
    color: white;
    border: transparent;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 17pt;
    background: rgba(132, 182, 51, 0.85);
  }
}

.loading-rotating-image-background {
  background: white;
  height: 64px;
  width: 64px;
  margin: -27px -38px !important;
  border-radius: 8px;
}

.no-spinner-background {
  .loading-wrapper {
    background: none !important;
    box-shadow: none !important;
  }
}

@keyframes rotate {
  0% {
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 0deg);
  }
  50% {
    transform: scale3d(1.4, 1.4, 1.4) rotate3d(0, 0, 1, 180deg);
  }
  100% {
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 360deg);
  }
}

.big-header-button {
  button {
    top: -5px !important;
    ion-icon {
      font-size: 35px;
      font-weight: 900;
      &[name='menu'] {
        animation: tada 3s infinite !important;
      }
    }
  }
}

.animate-icon {
  ion-icon[name='menu'] {
    animation: tada .0s 50s !important;
  }
}

form {
  ion-item {
    ion-input, ion-textarea, ion-select, ion-datetime {
      border-bottom: 1px solid #bfbfbf !important;
    }
    .item-inner {
      border: 1px solid transparent !important;
    }
  }
  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block, .list-md .item-input:last-child {
    border-bottom: 1px solid transparent !important;
  }
}

//Menu icon animation
@-webkit-keyframes tada {
  0% {
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -5deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, 5deg);
  }
  40%, 60%, 80% {
    transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, -5deg);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

//Remove android validation lines on input
.item-md.item-input.input-has-focus .item-inner {
  //border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.input-has-focus:last-child {
  //border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.input-has-focus:last-child .item-inner {
  box-shadow: none;
}

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
  box-shadow: none;
}

.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}

.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
  border-bottom-color: transparent !important;
  box-shadow: none !important;
}