<ion-menu [content]="content" class="dark-menu" id="PublicUserMenu">
    <ion-header>
        <ion-toolbar>
            <ion-title>MENÚ</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <button menuClose detail-none ion-item *ngFor="let p of PublicUserPages" (tap)="openPage(p)" [class.activeHighlight]="sharedService.checkActive(p)" class="menu-item">
                <ion-icon [name]="p.icon"></ion-icon>
                <div class="menu-item-border">
                    {{p.title}}
                </div>
            </button>
        </ion-list>
    </ion-content>
</ion-menu>


<ion-menu [content]="content" class="dark-menu" id="LoggedUserMenu">
    <ion-header>
        <ion-toolbar>
            <ion-title>MENÚ</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-item *ngIf="sharedService.LoggedUser" class="user-name-container">
            <ion-avatar item-start>
                <img src="assets/img/logo.png">
            </ion-avatar>
            <p>Bienvenido</p>
            <span>{{sharedService.LoggedUser.Name}}</span>
        </ion-item>
        <side-menu-content [settings]="sideMenuSettings" [options]="loggedUserSubMenu" (selectOption)="selectOption($event)"></side-menu-content>
        <ion-list>
            <button menuClose detail-none ion-item *ngFor="let p of LoggedUserPages" (tap)="openPage(p)" [class.activeHighlight]="sharedService.checkActive(p)" class="menu-item">
                <ion-icon [name]="p.icon"></ion-icon>
                <div class="menu-item-border">
                    {{p.title}}
                </div>
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>