page-register-form {
  .swiper-pagination-progress .swiper-pagination-progressbar {
    background: map_get($colors, secondary) !important;
  }

  ion-slides {
    height: inherit;
  }

  .steps-label {
    .toolbar-title {
      letter-spacing: 3px !important;
      font-size: 2.5rem !important;
    }
  }

  .image-input-padding {
    padding-bottom: 10px;
    padding-top: 16px;
  }

  .images-container {
    padding-top: 10px;
  }
}