page-board {
  .board-item-list {
    .board-item{
      &.activated{
        background: none;
        ion-card-content{
          background: map_get($colors, light) !important;
        }
      }
      img {
        width: 35%;
        height: auto;
        margin:  0 auto;
      }

      ion-card {
        height: 100% !important;
        margin: 0 auto !important;
        border-bottom: 2px solid map_get($colors, primary);
        box-shadow: none;
        ion-card-content {
          padding: 10px 5px !important;
        }
      }
    }

  }
}
