<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Canaco</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Quiénes Somos?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Afíliate Ahora <span class="sr-only">(activo)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Qué es Infox?</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <h2>Solicitudes de Afiliación</h2>
  <hr />
  <table class="table table-bordered table-hover table-striped">
    <tr>
      <th>Clave de Socio</th>
      <th>Representante Legal</th>
      <th>RFC</th>
      <th>Correo Electrónico</th>
      <th>Teléfonos</th>
      <th>Domicilio Fiscal</th>
      <th>Status</th>
      <th></th>
    </tr>
  </table>
</div>
