<div class="container">
  <br />
  <h2>QUIÉNES SOMOS?</h2>
  <p>La&nbsp;<strong>Cámara Nacional de Comercio, Servicios y Turismo de Querétaro</strong>&nbsp;es una cámara de puertas abiertas, donde se incentiva la participación y representación de organismos gubernamentales, sociales y empresariales. Tenemos la firme convicción de integrar a todos los actores de la comunidad, en especial a las mujeres y jóvenes, en decisiones y proyectos que detonen el desarrollo económico del sector comercial en el Estado de Querétaro.</p>
  <hr />
  <h2>MISIÓN</h2>
  <p>Representar, defender, desarrollar y promocionar los intereses del sector Comercio, Servicios y Turismo ante las instituciones gubernamentales, la iniciativa privada y la sociedad.</p>
  <hr />
  <h2>VISIÓN</h2>
  <p>Ser el organismo empresarial con mayor influencia y socios en el Estado de Querétaro.</p>
  <hr />
  <h2>VALORES</h2>
  <p>Honestidad, Lealtad, Liderazgo, Actitud de servicio, Trabajo en equipo.</p>
  <hr />
</div>
