page-benefits {
  .benefits-list {
    img {
      width: 100%;
      height: auto;
      margin:  0 auto;
    }
    ion-card {
      height: 100% !important;
      margin: 0 !important;
      border-bottom: 2px solid map_get($colors, primary);
      box-shadow: none;
      ion-card-content {
        padding: 10px 5px !important;
      }
    }
  }
}