page-about {
  .valores-section {
    .icon {
      background: map_get($colors, primary);
      height: 100px;
      width: 100px;
      border-radius: 60%;
      margin: 0 auto;
      img{
        position: relative;
        top: 32px;
        height: 35px;
        right: 1px;
      }
    }
  }
}
